* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: radial-gradient(circle at center, #1a1a1a, #050505);
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  color: #fff;
  overflow: hidden;
}
